@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital@0;1&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body
{
  font-family:'Lato',sans-serif;
  color: rgb(44, 40, 40);

}

.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}
